@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(10, 10, 10);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(10, 10, 10);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(10, 10, 10);
    --primary: rgb(23, 23, 23);
    --primary-foreground: rgb(250, 250, 250);
    --secondary: rgb(245, 245, 245);
    --secondary-foreground: rgb(23, 23, 23);
    --muted: rgb(245, 245, 245);
    --muted-foreground: rgb(115, 115, 115);
    --accent: rgb(245, 245, 245);
    --accent-foreground: rgb(23, 23, 23);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(230, 230, 230);
    --input: rgb(230, 230, 230);
    --ring: rgb(10, 10, 10);
    --chart-1: rgb(244, 114, 82);
    --chart-2: rgb(0, 132, 123);
    --chart-3: rgb(37, 63, 79);
    --chart-4: rgb(245, 205, 92);
    --chart-5: rgb(250, 176, 74);
    --radius: 0.5rem;
    --sidebar-background: rgb(250, 250, 250);
    --sidebar-foreground: rgb(61, 61, 67);
    --sidebar-primary: rgb(26, 26, 28);
    --sidebar-primary-foreground: rgb(250, 250, 250);
    --sidebar-accent: rgb(243, 243, 244);
    --sidebar-accent-foreground: rgb(26, 26, 28);
    --sidebar-border: rgb(226, 226, 230);
    --sidebar-ring: rgb(63, 131, 248);
    --myRed: rgb(255, 0, 0);
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
